.form {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form > input {
  width: 92%;
  padding: 7px 3px;
  border: none;
  border-bottom: 1px solid #f5f5f5;
  outline: none;
}

.form > button {
  width: 100% !important;
  margin: 7px 0 !important;
  padding: 10px 0 !important;
  background-color: #1e6df6 !important;
  border: none !important;
  border-radius: 20px !important;
  color: #fff !important;
  font-size: 16px !important;
  cursor: pointer !important;
}

.form > button:hover {
  background-color: #4b8ef9 !important;
}

.form > p {
  width: 100%;
  padding-left: 15px;
  font-size: 14px;
  color: #ff0000;
  text-align: left;
}
