.wrapper {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.container {
  height: 80%;
  flex: 0.9;
  padding: 30px 15px;
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75) !important;
  overflow: scroll;
}

.container > h3 {
  margin-left: 50px;
  font-size: 28px;
}

.container > div {
  margin: 15px 0;
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 10px;
}

.container > p {
  margin-left: 50px;
}
