.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
}

.header__side {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.header__side > img {
  height: 90px;
  -o-object-fit: contain;
  object-fit: contain;
}

.header__middle {
  height: 55px;
  padding: 10px;
  display: flex;
  flex: 0.7;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 5px;
  overflow: hidden;
}

.header__middle > input {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: medium;
}
