.sidebarOption {
  height: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 0 20px 20px 0;
  color: #818181;
  cursor: pointer;
}

.sidebarOption > svg {
  padding: 5px;
}

.sidebarOption > h3 {
  margin-left: 10px;
  flex: 1;
  font-size: 14px;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebarOption > p {
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebarOption:hover,
.sidebarOption:hover > h3,
.sidebarOption:hover > p,
.active,
.active > h3,
.active > p {
  background-color: #fcecec;
  color: #c04b37;
  font-weight: 800 !important;
}

.sidebarOption:hover > p,
.active > p {
  display: inline !important;
}
